@import "constants/sizes.scss";
@import "constants/colors.scss";

.any-btn {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	height: 50px;
}

.action-btn {
	@extend .any-btn;

	background-color: $primary;
	color: $light;
	border-radius: 3px;
	padding: 13px 32px;
}
