@import "constants/sizes.scss";
@import "constants/colors.scss";

.rule-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $large-a;
  color: $primary-light;
  font-weight: bold;
}

.rule-container {
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  max-height: 78px;
}
