@import "constants/sizes.scss";
@import "constants/colors.scss";

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-display{
    max-width: 60%;
    padding: 140px 120px;
    margin-top: $small;
    margin-bottom: $small;

    
    background-color: $primary-dark-a;
    color: $primary-light;
    line-height: $large-a;

    border-radius: 5px;
}

.correct-char{
    opacity: 0.5;
}

.current-char{
    background-color: $primary;
    color: $dark;
}

.incorrect-char{
    opacity: 0.5;
    color: red;
}