@import "constants/sizes.scss";
@import "constants/colors.scss";

.basic-room{
    display: flex;
    justify-content: space-between;
}

.roomRightside{
    display: flex;
    align-items: center;
    color: $primary-light;

}

.roomLeftSide{
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: $primary-light;
    font-size: 14px;
    padding: 17px 27px;
    font-size: $medium-a;
}

.numberOfpeople{
    padding-right: 15px;
}
